    <!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="~/images/brands/logo.jpg" alt="#">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12">
                        <div class="footer-newsletter">
                            <h4 class="title">
                                Nhận thông tin khuyến mãi mới nhất
                                <span>Đừng bỏ lỡ các ưu đãi hấp dẫn của Sofia Cosmetics bạn nhé.</span>
                            </h4>
                            <div class="newsletter-form-head">
                                <form action="#" method="get" target="_blank" class="newsletter-form">
                                    <input name="EMAIL" placeholder="Nhập địa chỉ email của bạn..." type="email">
                                    <div class="button">
                                        <button class="btn">Đăng ký<span class="dir-part"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <!-- Start Footer Middle -->
    <div class="footer-middle">
        <div class="container">
            <div class="bottom-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-contact">
                            <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
                            <p class="phone">SĐT: +84 0989764401</p>
                            <ul>
                                <li><span>Thứ 2-Chủ Nhật: </span> 9.00 am - 8.00 pm</li>
                                <li> Số 06, p.Phú Lợi, TpHCM</li>
                            </ul>
                            <p class="mail">
                                <a href="http://sofiacosmetics.somee.com/">support@sofiacosmetics.com</a>
                            </p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>CHÍNH SÁCH</h3>
                            <ul>
                                <li>
                                    <a href="@Url.RouteUrl("StaticInDanhMuc", new { slug = "chinh-sach-giao-hang" })">
                                        Chính sách giao hàng
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("StaticInDanhMuc", new { slug = "chinh-sach-doi-tra" })">
                                        Chính sách đổi trả
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("StaticInDanhMuc", new { slug = "chinh-sach-bao-mat" })">
                                        Chính sách bảo mật
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("StaticInDanhMuc", new { slug = "dieu-khoan-su-dung" })">
                                        Điều khoản sử dụng
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("StaticInDanhMuc", new { slug = "huong-dan-mua-hang" })">
                                        Hướng dẫn mua hàng
                                    </a>
                                </li>
                                @*<li>
                                    <a href="@Url.Action("Slug","TinTuc", new { slug="chinh-sach-thanh-toan" })">
                                        Chính sách thanh toán
                                    </a>
                                </li>*@
                            </ul>
                        </div>

                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>THÔNG TIN</h3>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">TRANG CHỦ</a></li>
                                <li><a href="@Url.RouteUrl("StaticInDanhMuc", new { slug = "gioi-thieu" })">GIỚI THIỆU</a></li>
                                <li><a href="@Url.RouteUrl("StaticInDanhMuc", new { slug = "lien-he" })">LIÊN HỆ</a></li>
                                <li><a href="@Url.Action("Index","TinTuc")">TIN TỨC</a></li>
                            </ul>
                        </div>

                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>SẢN PHẨM</h3>
                            <ul>
                                <li><a href="/danh-muc/dm-cham-soc-da">Chăm sóc da</a></li>
                                <li><a href="/danh-muc/dm-trang-diem">Trang điểm</a></li>
                                <li><a href="/danh-muc/dm-cham-soc-toc">Chăm sóc tóc</a></li>
                                <li><a href="/danh-muc/dm-cham-soc-co-the">Chăm sóc cơ thể</a></li>
                            </ul>
                        </div>

                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-12">
                        <div class="payment-gateway">
                            @*<span>Được đồng ý:</span>*@
                            <img src="~/images/orthers/Liên hệ/BCT.png" alt="#">
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="copyright">
                            <p>
                                Được thiết kế và phát triển bởi<a href="http://sofiacosmetics.somee.com/" rel="nofollow"
                                                                  target="_blank">Sofia Cosmetics</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <ul class="social">
                            <li>
                                <span>THEO DÕI CHÚNG TÔI:</span>
                            </li>
                            <li><a href="https://www.facebook.com/" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="https://zalo.me/" target="_blank"><i class="lni lni-phone"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank"><i class="lni lni-instagram"></i></a></li>
                            <li><a href="https://www.tiktok.com/" target="_blank"><i class="lni lni-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!--/ End Footer Area -->
